table[b-r4a19diqgn]{
    width: 100%;
}
table[b-r4a19diqgn],th[b-r4a19diqgn],td[b-r4a19diqgn]{
    border: 1px solid gray;
}

th[b-r4a19diqgn],td[b-r4a19diqgn] {
    text-align:center;
    padding: 5px;
}

img[b-r4a19diqgn]{
    width: 100px;
}